.top{
    height: 40%;
    width: 100%;
    background-color: blue;
}

.middle{
    height: 30%;
    width: 100%;
    background-color: black;
}

.bottom{
    height: 30%;
    width: 100%;
    background-color: black;
}

